body {
  background-color: #dad7cd;
  height: 100vh;
  font-family: "Amiri", serif;
  text-transform: uppercase;
  margin: 0;
}

#contactME {
  background-color: #344e41;
  width: 80%;
  text-align: center;
  margin: 100px;
  padding: 50px;
  border-top: 15px solid #588157;
}

h1 {
  margin-bottom: 25px;
  margin-top: 0;
  font-size: 60px;
  color: #dad7cd;
  font-weight: bolder;
  text-transform: uppercase;
}

form {
  padding: 50px;
  width: 60%;
  margin: auto;
}

.field {
  margin-bottom: 25px;
  width: 100%;
  display: grid;
  position: relative;
}

label {
  color: #344e41;
  height: 50px;
  font-size: xx-large;
  letter-spacing: 2px;
  width: 700px;
  font-weight: bolder;
  position: absolute;
  background-color: #dad7cd;
  text-transform: uppercase;
}
.input {
  height: 50px;
  outline: none;
  border: none;
  width: 700px;
  text-transform: uppercase;
  padding: 0;
  padding-left: 20%;
  box-sizing: border-box;
}
.field:hover label {
  width: 18%;
  background: #588157;
  color: #dad7cd;
  transition: all 0.5s ease-in-out;
}

#button {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border-radius: 2px;
  border: none;
  background-color: #dad7cd;
  font-size: large;
  color: #344e41;
  font-weight: bolder;
  font-family: "Amiri", serif;
  text-transform: uppercase;
  margin-left: 2em;
}
#button:hover {
  background-color: #588157;
  color: #dad7cd;
  transition: 0.3s;
}
.p {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: xx-large;
  cursor: pointer;
  color: #1d2e28;
}
/*  css  of the libraries section  */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.cardz {
  height: 200px;
  width: 200px;
  text-align: center;
  color: beige;
  background-color: #344e41;
  border-radius: 20%;
  margin: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
}
